@layer utilities {
    .page-transition {
        animation: fadeIn 0.1s ease-in;
    }

    @keyframes fadeIn {
        from {
            opacity: 0;
        }
        to {
            opacity: 1;
        }
    }

    .modal-animation {
        animation: fadeInScaleUp 0.2s ease-in-out;
    }

    @keyframes fadeInScaleUp {
        from {
            opacity: 0;
            transform: scale(0.95);
        }
        to {
            opacity: 1;
            transform: scale(1);
        }
    }

    .pulse-attention {
        animation: pulseAttention 2s ease-in-out 7;
    }

    @keyframes pulseAttention {
        0%,
        100% {
            opacity: 1;
        }
        50% {
            opacity: 0.3;
        }
    }
}

@theme {
    --animate-sway: sway 1s ease-in-out infinite;
    --animate-wave: wave 2s linear infinite;

    @keyframes sway {
        0%,
        100% {
            transform: translateX(0);
        }
        50% {
            transform: translateX(10px);
        }
    }

    @keyframes wave {
        0% {
            background-position: 200% 0;
        }
        100% {
            background-position: -200% 0;
        }
    }
}
