@import 'tailwindcss';
@import './animation.css';
@import './scrollbar.css';

:root {
    --background: #ffffff;
    --foreground: #1c1917;
}

@theme inline {
    --color-background: var(--background);
    --color-foreground: var(--foreground);
}

/* @media (prefers-color-scheme: dark) {
    :root {
        --background: #0a0a0a;
        --foreground: #ededed;
    }
} */

* {
    @apply box-border;
}

body {
    background: var(--background);
    color: var(--foreground);
    font-family: var(--font-pretendard), sans-serif;
    min-width: 1440px;
    word-break: keep-all;
}

@theme {
    --color-primary-50: #541e26;
    --color-primary-100: #6c2731;
    --color-primary-200: #903441;
    --color-primary-300: #b44152;
    --color-primary-400: #c04557;
    --color-primary-500: #d84d62;
    --color-primary-600: #f0566d;
    --color-primary-700: #facbd2;
    --color-primary-800: #fde6e9;
    --color-primary-900: #feeef0;

    --color-surface: var(--color-white-50);
    --color-surface-elevate-l1: var(--color-white-50);
    --color-surface-elevate-l2: var(--color-white-100);
    --color-surface-elevate-l3: var(--color-white-200);

    --color-neutral-black: #161616;
    --color-neutral-black-opacity50: #16161680;
    --color-neutral-black-opacity25: #16161640;
    --color-neutral-white-opacity50: #f7f7f780;
    --color-neutral-white-opacity25: #f7f7f740;

    --breakpoint-desktop: 1440px;
    --breakpoint-tablet: 768px;
    --breakpoint-mobile: 360px;
}
